<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="Copilot Extensions Target">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2025-03/"/>
			<unit id="org.eclipse.platform.ide" version="0.0.0"/>
			<unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.pde.junit.runtime" version="0.0.0"/>
			<unit id="com.google.gson" version="0.0.0"/>
		</location>
		<location includeDependencyDepth="infinite" includeDependencyScopes="compile" includeSource="false" label="JUnit 5" missingManifest="error" type="Maven">
			<dependencies>
				<dependency>
					<groupId>org.junit.jupiter</groupId>
					<artifactId>junit-jupiter-api</artifactId>
					<version>5.10.1</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.junit.jupiter</groupId>
					<artifactId>junit-jupiter-engine</artifactId>
					<version>5.10.1</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.junit.platform</groupId>
					<artifactId>junit-platform-launcher</artifactId>
					<version>1.10.1</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
			<repository location="https://azuredownloads-g3ahgwb5b8bkbxhd.b01.azurefd.net/github-copilot/"/>
			<unit id="com.microsoft.copilot.eclipse.feature.feature.group" version="0.0.0"/>
		</location>
	</locations>
	<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-21"/>
</target>
